$xlarge: 1440px;
$large: 1200px;
$medium: 1024px;
$small: 768px;
$tiny: 480px;

@mixin breakpoint($point) {
  @if $point == xlarge {
    @media (max-width: $xlarge - 1px) {
      @content;
    }
  } @else if $point == large {
    @media (max-width: $large - 1px) {
      @content;
    }
  } @else if $point == medium {
    @media (max-width: $medium - 1px) {
      @content;
    }
  } @else if $point == mediumup {
    @media (min-width: $medium - 1px) {
      @content;
    }
  } @else if $point == small {
    @media (max-width: $small - 1px) {
      @content;
    }
  } @else if $point == tiny {
    @media (max-width: $tiny - 1px) {
      @content;
    }
  }
}

$white: #ffffff;
$black: #010101;
$blue: #0000ff;

body {
  // font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  font-size: 19px;
  color: $black;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  // font-family: 'Courier New', Courier, monospace;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
}

a {
  
}

input, textarea, keygen, select, button {
  // font-family: 'Courier New', Courier, monospace !important;
}
.page-width {
  @include breakpoint(mediumup) {
    position: relative;
    padding: 0 12rem;
  }
}

#shopify-section-header {
  .header-wrapper {
    // border: none;
    // background: transparent;

    .header {
      display: flex;
      justify-content: space-between;

      &__icon  {
        .icon {
          fill: black;
        }
        
        .icon-hamburger {
          width: 3rem;
          height: 3rem;
        }
      }

      &__heading {
        @include breakpoint(small) {
          position: absolute;
          left: 50%;
          transform: translateX(-50%);
        }
      }

      &__heading-link {
        .h2 {
          display: block;
          color: $blue;
          font-size: 30px;
          letter-spacing: 0.12em;
          margin-bottom: 0.1em;
        }

        img {
          @include breakpoint(small) {
            width: 100px;
          }
        }
      }

      &__inline-menu {
        .list-menu {
          li {
            a {
              text-transform: uppercase;
              color: black;
              letter-spacing: 0.25em;
            }
          }
        }
      }

      &__search {
        display: none;
      }

      #cart-icon-bubble {
        font-weight: bold;
        text-decoration: none;
        font-size: 14px;
        letter-spacing: 0.25em;
        cursor: pointer;

        @include breakpoint(small) {
          font-size: 10px;
        }

        .icon {
          display: none;
        }
      }
    }

    .menu-drawer {
      width: 100%;

      &__navigation {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;

        ul {
          li {
            a {
              text-transform: uppercase;
              font-size: 20px;
              letter-spacing: 0.25em;
            }
          }
        }

        > a {
          position: absolute;
          bottom: 30px;
          font-size: 14px;
        }
      }

      &__utility-links {
        display: none;
      }
    }
  }
}

#shopify-section-footer {
  .footer {
    border: none;

      &__blocks-wrapper {
        flex-grow: 1;
      }
    
      .footer-block {
      
        &__heading {
          font-weight: bold;
          font-size: 14px;
          color: black;
          text-transform: uppercase;
          letter-spacing: 0.1em;      
        }

        &__details-content {
          display: flex;
          flex-direction: column;
          align-items: flex-start;

          li {
            font-size: 14px;
            color: black;
            letter-spacing: 0;
            cursor: pointer;

            &.footer-page-link.highlighted {
              a {
                color: $blue;
                font-weight: bold;
              }
            }

            a {
              color: black;
              font-weight: normal;
              
              &:hover {
                color: $blue;
              }
            }
          }
        }

        &--newsletter {
          margin-top: 0;
          align-items: flex-start;

          .footer-block__newsletter {
            text-align: right;

            @include breakpoint(small) {
              text-align: left;
            }

            .newsletter-form {
              @include breakpoint(small) {
                align-items: flex-start;
              }

              .field {

                &__input {
                  width: auto;
                  margin-right: 20px;
                  padding: 0;
                  padding-left: 1em;
                }

                &__label {
                  
                }

                &__button {
                  flex-shrink: 0;
                  position: relative;
                  // font-family: 'Courier New', Courier, monospace;
                  font-weight: bold;
                  text-transform: uppercase;
                  letter-spacing: 0.25em;
                  background-color: black;
                  color: white;
                  width: auto;
                  outline: none;
                  appearance: none;
                  border: none;
                  white-space: nowrap;
                  padding: 0 1.5em;
                }
              }
              
            }

            a {
              display: block;
              margin-top: 2em;
              font-size: 14px;
              text-decoration: none;

              &:hover {
                text-decoration: underline;
              }
            }
          }
        }
      }
    

    &__list-social {
      justify-content: flex-end;

      .list-social__item {
        .icon {
          width: 3.5rem;
          height: 3.5rem;
        }
      }
    }

    &__content-top {
      padding-top: 0;
      padding-bottom: 0;
      display: flex;
      justify-content: space-between;

      @include breakpoint(small) {
        flex-direction: column;
        padding: 0 1.5rem;
      }
    }

    &__content-bottom {
      padding-top: 0;
      border: none;
    }

    &__copyright {
      &.caption {
        font-size: 12px;
        text-transform: uppercase;
        font-weight: bold;
        letter-spacing: 0.25em;
        color: black;
        margin-top: 4em;
      }
    }
  }
}

.content-modal {
  position: absolute;
  left: 0;
  width: calc(100% - 4rem);
  height: calc(100% - 150px);
  box-shadow: 6px 6px 90px 0px rgba(0, 0, 0, 0.1);
  background: $white;
  margin: 100px 2rem 0;
  z-index: 10;
  display: none;
  pointer-events: none;
  align-items: center;
  justify-content: center;

  &.visible {
    display: flex;
    pointer-events: all;
  }

  #js-close-x-btn {
    position: absolute;
    top: 30px;
    right: 30px;
    cursor: pointer;
    font-size: 30px;
    line-height: 0;
  }

  > div {
    display: none;

    &.visible {
      display: block;
    }
  }

  h3 {
    color: $black;
  }

  p {
    font-weight: normal;
    font-size: 18px;
    text-transform: uppercase;
    line-height: 1.5em;
  }

  #legal {
    ul {
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        margin-bottom: 1em;
        a {
          text-decoration: none;
          // font-family: Arial, Helvetica, sans-serif;
          color: $black;
          font-weight: normal;
        }
      }
    }
  }

  #description {
    .inner {
      display: flex;
      align-items: center;
      padding: 50px 130px;

      .image {
        width: 50%;
        flex-shrink: 0;

        img {
          width: 100%;
          height: auto;
        }
      }

      .copy {
        width: 50%;
        flex-shrink: 0;
        padding-left: 50px;
      }
    }
  }

  #info-and-sizing {
    .inner {
      display: flex;
      align-items: center;

      .copy {
        width: 100%;
        max-width: 500px;
      }
    }
  }

  #contact {
    width: 100%;

    .wrap {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .inner {
      width: 100%;
      max-width: 715px;
      // font-family: Arial, Helvetica, sans-serif;

      h3 {
        // font-family: Arial, Helvetica, sans-serif;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 20px;
        margin-bottom: 80px;
      }

      .label {
        text-transform: uppercase;
        font-size: 14px;
      }

      form {
        .row {
          display: flex;
          flex-direction: column;
          margin-bottom: 30px;

          &__split {
            flex-direction: row;
            justify-content: space-between;
          }

          .field-50 {
            width: calc(50% - 5px);
            flex-shrink: 0;
            display: flex;
            flex-direction: column;
          }

          label {
            text-transform: uppercase;
            font-size: 14px;
          }

          input,
          textarea {
            text-transform: uppercase;
            font-size: 14px;
            padding: 10px;
            border: 1px solid #d3d3d3;
          }

          .hint {
            text-transform: uppercase;
            font-size: 14px;
            opacity: 0.5;
          }
        }
        button {
          text-transform: uppercase;
          font-size: 14px;
          padding: 10px 30px;
          border: 2px solid $black;
          background: $white;
          cursor: pointer;
        }
      }
    }
  }
}

.featured-product {
  align-items: center;

  &__title {
    text-transform: uppercase;
    color: $blue;
    font-size: 30px;
    letter-spacing: 0.12em;
    margin-bottom: 0.1em;
  }

  .product__thumbnails-wrapper {
    width: 100px;
    flex-shrink: 0;
    flex-grow: 0;
    display: flex;
    flex-direction: column;
    margin-right: 7vw;
    @include breakpoint(small) {
      display: none;
    }

    img {
      width: 100px;
      height: auto;
      cursor: pointer;
      border: 1px solid transparent;
      margin-bottom: 10px;

      &.active,
      &:hover {
        border: 1px solid $black;
      }
    }
  }

  .product__media-wrapper {
    .product__modal-opener {
      border: none;

      .product__media-icon {
        display: none;
      }

      .product__media-toggle:hover {
        cursor: default;
      }
    }
  }

  .product__info-wrapper {
    padding: 0 !important;
    width: auto;
    flex-grow: 0;
    margin-left: 7vw;
    @include breakpoint(small) {
      margin: 0;
      padding: auto;
      width: 100%;
    }
  }

  .product__info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .product-form__input {
    display: flex;
    flex-direction: column;

    input[type='radio'] + label {
      // font-family: Arial, Helvetica, sans-serif;
      font-weight: normal;
      font-size: 25px;
      border-radius: 0;
      border: 1px solid transparent;
      // width: 55px;
      // height: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
    }

    input[type='radio']:checked + label {
      position: relative;
      background-color: transparent;
      border: 1px solid $black;
      color: $black;

      // &:after {
      //   content: '';
      //   display: block;
      //   position: absolute;
      //   top: 50%;
      //   left: 0;
      //   transform: rotate(-45deg);
      //   width: 100%;
      //   height: 1px;
      //   background-color: $black;
      // }
    }
  }
}

.main-page {
  max-width: 870px;
  
  .main-page-title {
    color: $black;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
  }

  p {
    font-size: 14px;
    font-weight: bold;
  }
}

.rte {
  font-weight: normal;

  a {
    text-decoration: none;
    color: black !important;

    &:hover {
      color: $blue !important;
    }
  }
}

.product-grid {

  .grid__item {
    @include breakpoint(small) {
      width: 100%;
      max-width: none;
    }
  }

  .card-information {
    text-align: center;

    .price {
      justify-content: center;
    }
  }
}

.product-slideshow {
  outline-offset: 0;
  box-shadow: none;

  &__item {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    opacity: 0;
    transition: 0.25s opacity;

    &.is-selected {
      opacity: 1;
    }

    img {
      display: block;
      width: 100%;
      max-width: 600px;
      height: auto;
    }
  }
}

.product {
  .caption-with-letter-spacing {
    display: none;
  }

  &__title {
    font-size: 14px;
    color: black;
    font-weight: bold;
  }

  &__description {
    font-size: 14px;
    font-weight: normal;
  }

  .product-form__input {
    label {
      font-size: 10px !important;
      padding: 5px !important;
      border-radius: 0 !important;
    }
  }
}

.contact {
  max-width: 1040px;

  .title {
    font-weight: bold;
    font-size: 14px;
    color: $black;
    text-transform: uppercase;
    letter-spacing: 0.1em;
  }

  .contact-form {
    .field {
      display: flex;
      flex-direction: column;

      input, textarea {
        order: 2;
        border-radius: 3px;
        border-width: 1px;
        background-color: #FAFAFA;
        padding: 1.5rem;
      }

      label {
        position: unset;
        font-size: 14px;
        margin-bottom: 0.5em;
        letter-spacing: 0.1rem !important;

        &.invisible {
          visibility: hidden;
        }
      }

      .secondary-label {
        order: 3;
        font-weight: bold;
        font-size: 16px;
        color: #4D4D4D;
        letter-spacing: 0.1em;
        margin-top: 0.25em;
      }
    }

    .contact__button {
      .button {
        padding: 0.75em 1.5em;
        min-width: 0;
        font-size: 14px;
        min-height: 0;
      }
    }
  }
}

.faqs {
  max-width: 1300px;

  .title {
    font-weight: bold;
    font-size: 14px;
    color: $black;
    letter-spacing: 0.1em;
  }

  .faq-items {
    position: relative;
    padding: 0;
    margin: 0;
    list-style: none;
    font-size: 14px;
    text-transform: uppercase;

    li {
      margin-bottom: 20px;

      &.active {
        .question {
          color: $blue;
        }

        .answer {
          opacity: 1;
          transition-delay: 0.25s;
        }
      }

      .question {
        width: 45%;
        cursor: pointer;
        
        &:hover {
          color: $blue;
        }
      }
  
      .answer {
        position: absolute;
        top: 0;
        right: 0;
        width: 45%;
        opacity: 0;
        text-transform: none;
        pointer-events: none;
        transition: 0.25s opacity;
  
        p {
          margin-top: 0;
  
          &:first-of-type {
            &:before {
              content: '>';
              margin-right: 0.5em;
            }
          }
        }
      }
    }

  }
}