<div class="faqs page-width spaced-section">
  <h2 class="title">{{ section.settings.heading | escape }}</h2>
</div>

{% schema %}
{
  "name": "FAQs",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "default": "FAQs",
      "label": "Heading"
    }
  ],
  "blocks": [
    {
      "type": "column",
      "name": "FAQ Item",
      "settings": [
        {
          "type": "text",
          "id": "question",
          "default": "Question...",
          "label": "Question"
        },
        {
          "type": "richtext",
          "id": "answer",
          "default": "<p>Answer...</p>",
          "label": "Answer"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "FAQs"
    }
  ]
}
{% endschema %}
