body {
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  font-size: 19px;
  color: #010101;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: "Courier New Bold", Courier, monospace;
  color: #0000ff;
}

.page-width {
  position: relative;
  padding: 0 12rem;
}

#shopify-section-footer .footer {
  border: none;
}
#shopify-section-footer .footer__blocks-wrapper .footer-block:nth-of-type(2) {
  display: none;
}
#shopify-section-footer .footer__blocks-wrapper .footer-block__heading {
  display: none;
}
#shopify-section-footer .footer__blocks-wrapper .footer-block__details-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
#shopify-section-footer .footer__blocks-wrapper .footer-block__details-content li {
  font-weight: bold;
  font-size: 18px;
  color: #0000ff;
  text-transform: uppercase;
  letter-spacing: 0.12em;
  cursor: pointer;
}
#shopify-section-footer .footer__blocks-wrapper .footer-block__details-content li:hover {
  text-decoration: underline;
}
#shopify-section-footer .footer__list-social {
  justify-content: flex-end;
}
#shopify-section-footer .footer__list-social .list-social__item .icon {
  width: 3.5rem;
  height: 3.5rem;
}
#shopify-section-footer .footer__content-top {
  padding-top: 0;
  padding-bottom: 0;
  display: flex;
  justify-content: space-between;
}
#shopify-section-footer .footer__content-bottom {
  padding-top: 0;
  border: none;
}
#shopify-section-footer .footer__copyright.caption {
  font-size: 14px;
  font-weight: bold;
}

.content-modal {
  position: absolute;
  left: 0;
  width: calc(100% - 4rem);
  height: calc(100% - 150px);
  box-shadow: 6px 6px 90px 0px rgba(0, 0, 0, 0.1);
  background: #ffffff;
  margin: 100px 2rem 0;
  z-index: 10;
  display: none;
  pointer-events: none;
  align-items: center;
  justify-content: center;
}
.content-modal.visible {
  display: flex;
  pointer-events: all;
}
.content-modal #js-close-x-btn {
  position: absolute;
  top: 30px;
  right: 30px;
  cursor: pointer;
  font-size: 30px;
  line-height: 0;
}
.content-modal > div {
  display: none;
}
.content-modal > div.visible {
  display: block;
}
.content-modal h3 {
  color: #010101;
}
.content-modal p {
  font-weight: normal;
  font-size: 18px;
  text-transform: uppercase;
  line-height: 1.5em;
}
.content-modal #legal ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.content-modal #legal ul li {
  margin-bottom: 1em;
}
.content-modal #legal ul li a {
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  color: #010101;
  font-weight: normal;
}
.content-modal #description .inner {
  display: flex;
  align-items: center;
  padding: 50px 130px;
}
.content-modal #description .inner .image {
  width: 50%;
  flex-shrink: 0;
}
.content-modal #description .inner .image img {
  width: 100%;
  height: auto;
}
.content-modal #description .inner .copy {
  width: 50%;
  flex-shrink: 0;
  padding-left: 50px;
}
.content-modal #info-and-sizing .inner {
  display: flex;
  align-items: center;
}
.content-modal #info-and-sizing .inner .copy {
  width: 100%;
  max-width: 500px;
}
.content-modal #contact {
  width: 100%;
}
.content-modal #contact .wrap {
  display: flex;
  align-items: center;
  justify-content: center;
}
.content-modal #contact .inner {
  width: 100%;
  max-width: 715px;
  font-family: Arial, Helvetica, sans-serif;
}
.content-modal #contact .inner h3 {
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 80px;
}
.content-modal #contact .inner .label {
  text-transform: uppercase;
  font-size: 14px;
}
.content-modal #contact .inner form .row {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}
.content-modal #contact .inner form .row__split {
  flex-direction: row;
  justify-content: space-between;
}
.content-modal #contact .inner form .row .field-50 {
  width: calc(50% - 5px);
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
}
.content-modal #contact .inner form .row label {
  text-transform: uppercase;
  font-size: 14px;
}
.content-modal #contact .inner form .row input,
.content-modal #contact .inner form .row textarea {
  text-transform: uppercase;
  font-size: 14px;
  padding: 10px;
  border: 1px solid #d3d3d3;
}
.content-modal #contact .inner form .row .hint {
  text-transform: uppercase;
  font-size: 14px;
  opacity: 0.5;
}
.content-modal #contact .inner form button {
  text-transform: uppercase;
  font-size: 14px;
  padding: 10px 30px;
  border: 2px solid #010101;
  background: #ffffff;
  cursor: pointer;
}

.featured-product {
  align-items: center;
}
.featured-product__title {
  text-transform: uppercase;
  color: #0000ff;
  font-size: 30px;
  letter-spacing: 0.12em;
  margin-bottom: 0.1em;
}
.featured-product .product__thumbnails-wrapper {
  width: 100px;
  flex-shrink: 0;
  flex-grow: 0;
  display: flex;
  flex-direction: column;
  margin-right: 7vw;
}
.featured-product .product__thumbnails-wrapper img {
  width: 100px;
  height: auto;
  cursor: pointer;
  border: 1px solid transparent;
  margin-bottom: 10px;
}
.featured-product .product__thumbnails-wrapper img.active, .featured-product .product__thumbnails-wrapper img:hover {
  border: 1px solid #010101;
}
.featured-product .product__media-wrapper .product__modal-opener {
  border: none;
}
.featured-product .product__media-wrapper .product__modal-opener .product__media-icon {
  display: none;
}
.featured-product .product__media-wrapper .product__modal-opener .product__media-toggle:hover {
  cursor: default;
}
.featured-product .product__info-wrapper {
  padding: 0 !important;
  width: auto;
  flex-grow: 0;
  margin-left: 7vw;
}
.featured-product .product__info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.featured-product .product-form__input {
  display: flex;
  flex-direction: column;
}
.featured-product .product-form__input input[type=radio] + label {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 25px;
  border-radius: 0;
  border: 1px solid transparent;
  width: 55px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.featured-product .product-form__input input[type=radio]:checked + label {
  position: relative;
  background-color: transparent;
  border: 1px solid #010101;
  color: #010101;
}
.featured-product .product-form__input input[type=radio]:checked + label:after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  transform: rotate(-45deg);
  width: 100%;
  height: 1px;
  background-color: #010101;
}

.main-page-title {
  font-family: Arial, Helvetica, sans-serif;
  color: #010101;
  font-size: 40px;
}

.rte {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
}